#show1,
.show1::before {
    display: unset;
    content: "Buzo cangurito";
}

#show2,
.show2::before {
    display: unset;
    content: "Buzo corto";
}

#show3,
.show3::before {
    display: unset;
    content: "Producto";
}

#show4,
.show4::before {
    display: unset;
    content: "Producto";
}

#show5,
.show5::before {
    display: unset;
    content: "Producto";
}

#show6,
.show6::before {
    display: unset;
    content: "Producto";
}

#show7,
.show6::before {
    display: unset;
    content: "Producto";
}

#show8,
.show6::before {
    display: unset;
    content: "Producto";
}

#show9,
.show6::before {
    display: unset;
    content: "Producto";
}

#show10,
.show6::before {
    display: unset;
    content: "Producto";
}

#show11,
.show6::before {
    display: unset;
    content: "Producto";
}

#show12,
.show6::before {
    display: unset;
    content: "Producto";
}