* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*conenedor de video comienzo*/
.video-container {
    position: absolute;
    left: 25%;
}

/*video intro*/
.video {
    width: 70%;
    height: 100%;
}

/*titulos y subtitulos*/
h1,
h2 {
    margin: 0;
    text-align: center;
    font-size: 3vw;
}

/*subtitulos*/
h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

/*botones*/
button {
    border-style: none;
    cursor: pointer;
    background-color: none;
}

/*texto*/
#nosotros {
    font-size: 2vw;
    margin: 0 1vw 1vw 1vw;
    text-align: center;
}

/*subtitulo texto*/
#nosotros h2 {
    font-size: 3vw;
}

/*logo*/
#cabecera {
    width: 20vw;
    height: 15vw;
    display: flex;
    justify-self: center;
}

/*navegacion*/
nav {
    position: fixed;
    left: -190vw;
    top: 0;
    height: 100%;
    width: 18vw;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.4s ease;
    z-index: 9;
}

/*boton de menu*/
.menu-btn {
    position: fixed;
    left: 3vw;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 0.3vw 0.5vw;
    font-size: 2.6vw;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
}

nav.active {
    left: 0;
}

/*imagen del nav*/
nav img {
    width: 15vw;
    height: 12vw;
    margin-bottom: 3vw;
}

/*texto nav*/
nav a,
footer a {
    color: black;
    text-decoration: none;
    font-size: 2.5vw;
}

/*lineas*/
hr {
    width: 95%;
    height: 0.1vw;
}

.contenedor-carruseles {
    display: flex;
    gap: 2vw;
}

.carrusel1,
.carrusel2,
.carrusel3,
.carrusel4 {
    position: relative;
    overflow: hidden;
    padding: 0 0 1vw 0;
}

.carrusel1 {
    margin-left: 2.5vw;
}

.carrusel4 {
    margin-right: 2.5vw;
}

.slides,
.slides1 {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
}

.slides1 {
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*contenedor de filtros*/
#filtros {
    display: flex;
    position: sticky;
    top: 1vw;
    width: 65vw;
    gap: 1.5vw;
    margin: 0 auto 1vw;
    background: none;
    z-index: 1;
}

/*seleccionador de filtros*/
#filtros select {
    text-align: center;
    padding: 0.7vw 0;
    border-radius: 8px;
}

/*logos flotantes*/
.whatsapp-float,
.instagram-float {
    position: fixed;
    width: 5vw;
    height: 5vw;
    bottom: 2vw;
    right: 3.2vw;
    background-color: #25D366;
    color: white;
    border-radius: 50vw;
    text-align: center;
    font-size: 4vw;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.instagram-float {
    background-color: #E1306C;
    transition: transform 0.3s ease;
    bottom: 8vw;
}

.whatsapp-float:hover,
.instagram-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img,
.instagram-float img {
    width: 3vw;
    height: 3vw;
}

/*pie*/
footer {
    color: black;
    justify-items: center;
    text-align: center;
    font-size: 2vw;
}

#copy {
    border-style: none;
    margin-bottom: 2px;
}

#NLT {
    font-size: 2vw;
}

/*boton abre carrito*/
#abrirCarrito {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 1.5vw;
    right: 3.2vw;
    border-radius: 10px;
    z-index: 90;
    font-size: 2.5vw;
}

/*boton cierra carrito*/
#cerrarCarrito {
    background: rgba(229, 229, 229, 0.8);
    width: 5vw;
    height: 5vw;
    margin: 1vw 0 0 1vw;
    border-radius: 40%;
}

/*ventana carrito*/
#carrito-flotante {
    position: fixed;
    top: 1vw;
    width: 96%;
    height: 95%;
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 100;
}

/*titulo carrito*/
#carrito-flotante h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    text-decoration: underline;
}

.item-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    text-align: center;
}

#total-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
}

/*seleccionador debajo precio*/
select {
    text-align: center;
    margin-top: 1vw;
    width: 100%;
    cursor: pointer;
}

/*debajo de selec color y talle*/
.cantidad {
    width: 5vw;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

/*boton agregar*/
.agregar {
    margin: 1vw;
    color: white;
    background-color: rgb(79, 79, 79);
    padding: 0.7vw;
    border-radius: 10px;
}

/*boton whatsapp carrito*/
#whatsapp-btn {
    display: block;
    position: absolute;
    top: 2vw;
    right: 2vw;
    padding: 1.3vw;
    background: #25D366;
    color: white;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

/*contenedor de inventario*/
#inventario_contenedor {
    font-size: 2.2vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
}

/*cuadro productos*/
.inventario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0.5vw;
    border-radius: 12px;
}

/*imagen de productos*/
.inventario img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*nombre del producto*/
.inventario h4 {
    margin: 0.5vw 0;
    text-align: center;
}

/*genero*/
.inventario p:nth-of-type(1) {
    margin: 0;
    color: #666;
}

/*precio*/
.inventario p:nth-of-type(2) {
    font-weight: bold;
}

.stock-info {
    font-size: 1.8vw;
    color: #555;
}

select:disabled {
    background: #eee;
}

.item-carrito {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1vw;
}

/*posicion mouse nav y pie*/
button:hover,
nav a:hover,
footer a:hover,
#NLT:hover,
#whatsapp-btn:hover {
    transition: 0.3s ease, color 0.3s ease;
    transform: scale(1.1);
}

@media (max-width:800px) {

    /*titulos y subtitulos*/
    h1,
    h2 {
        margin: 0;
        font-size: 3vw;
    }

    /*subtitulos*/
    h2 {
        font-size: 3vw;
        margin-bottom: 1vw;
    }

    /*texto*/
    #nosotros {
        font-size: 2vw;
        margin: 0 1vw 1vw 1vw;
    }

    /*subtitulo texto*/
    #nosotros h2 {
        font-size: 3vw;
    }

    /*logo*/
    #cabecera {
        width: 25vw;
        height: 20vw;
    }

    /*navegacion*/
    nav {
        width: 50vw;
        padding-top: 7vw;
    }

    /*boton de menu*/
    .menu-btn {
        left: 3vw;
        padding: 0.3vw 0.5vw;
        font-size: 4.5vw;
    }

    /*imagen del nav*/
    nav img {
        width: 25vw;
        height: 20vw;
        margin-bottom: 3vw;
    }

    /*texto nav*/
    nav a,
    footer a {
        font-size: 4vw;
    }

    .contenedor-carruseles {
        gap: 2vw;
    }

    .carrusel1,
    .carrusel2 {
        padding: 0 0 1vw 0;
    }

    .carrusel1 {
        margin-left: 2.5vw;
    }

    .carrusel2 {
        margin-right: 2.5vw;
    }

    .carrusel3,
    .carrusel4 {
        display: none;
    }

    .slides,
    .slides1 {
        width: 100%;
        height: 100%;
    }

    .slide {
        width: 100%;
        flex-shrink: 0;
    }

    /*contenedor de filtros*/
    #filtros {
        top: 1vw;
        width: 75vw;
        gap: 1vw;
    }

    /*seleccionador de filtros*/
    #filtros select {
        padding: 0.7vw 0;
        border-radius: 8px;
        font-size: 2.6vw;
    }

    /*logos flotantes*/
    .whatsapp-float,
    .instagram-float {
        width: 8vw;
        height: 8vw;
        bottom: 2vw;
        right: 3.2vw;
        font-size: 4vw;
    }

    .instagram-float {
        bottom: 11vw;
    }

    .whatsapp-float img,
    .instagram-float img {
        width: 6vw;
        height: 6vw;
    }

    /*pie*/
    footer {
        font-size: 3vw;
    }

    #copy {
        margin-bottom: 3px;
    }

    #NLT {
        font-size: 2.5vw;
    }

    /*boton abre carrito*/
    #abrirCarrito {
        top: 1.5vw;
        right: 3.2vw;
        font-size: 5vw;
    }

    /*boton cierra carrito*/
    #cerrarCarrito {
        width: 5vw;
        height: 5vw;
        margin: 1vw 0 0 1vw;
    }

    /*ventana carrito*/
    #carrito-flotante {
        top: 1vw;
        width: 96%;
        height: 95%;
        border: 2px;
        border-radius: 10px;
        padding: 10px;
    }

    /*titulo carrito*/
    #carrito-flotante h3 {
        font-size: 4.2vw;
    }

    .item-carrito {
        gap: 5vw;
    }

    #total-carrito {
        font-size: 4vw;
    }

    /*seleccionador debajo precio*/
    select {
        margin-top: 1vw;
    }

    /*debajo de selec color y talle*/
    .cantidad {
        width: 5vw;
        margin: 0;
    }

    /*boton agregar*/
    .agregar {
        margin: 1.2vw;
        padding: 1vw;
    }

    /*boton whatsapp carrito*/
    #whatsapp-btn {
        top: 2vw;
        right: 2vw;
        padding: 1.3vw;
    }

    /*contenedor de inventario*/
    #inventario_contenedor {
        font-size: 3vw;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    /*imagen de productos*/
    .inventario img {
        max-width: 100%;
    }

    /*nombre del producto*/
    .inventario h4 {
        margin: 0.5vw 0;
    }

    .stock-info {
        font-size: 1.8vw;
    }

    .item-carrito {
        border-bottom: 1px;
        padding-bottom: 1vw;
    }

}

/*pantallas grandes*/
@media (min-width:1200px) {

    /*titulos y subtitulos*/
    h1,
    h2 {
        margin: 0;
        font-size: 1.3vw;
    }

    /*subtitulos*/
    h2 {
        font-size: 1.2vw;
        margin-bottom: 1.5vw;
    }

    /*texto*/
    #nosotros {
        font-size: 1.4vw;
        margin: 0 1vw 1vw 1vw;
    }

    /*logo*/
    #cabecera {
        width: 12vw;
        height: 8vw;
    }

    /*navegacion*/
    nav {
        width: 20vw;
        padding-top: 7vw;
    }

    /*boton de menu*/
    .menu-btn {
        left: 3vw;
        padding: 0.3vw 0.5vw;
        font-size: 2vw;
    }

    /*imagen del nav*/
    nav img {
        width: 15vw;
        height: 10vw;
        margin-bottom: 3vw;
    }

    /*texto nav*/
    nav a,
    footer a {
        font-size: 2vw;
    }

    .contenedor-carruseles {
        gap: 0.5vw;
    }

    .carrusel1,
    .carrusel2,
    .carrusel3,
    .carrusel4 {
        display: flex;
        margin: 0 0.1vw;
    }

    .carrusel1 {
        margin-left: 2.5vw;
    }

    .carrusel4 {
        margin-right: 2.5vw;
    }

    /*contenedor de filtros*/
    #filtros {
        top: 0.2vw;
    }

    /*logos flotantes*/
    .whatsapp-float,
    .instagram-float {
        width: 3vw;
        height: 3vw;
        bottom: 2vw;
        right: 3vw;
        font-size: 1.5vw;
    }

    .instagram-float {
        bottom: 6vw;
    }

    .whatsapp-float img,
    .instagram-float img {
        width: 3vw;
        height: 3vw;
    }

    /*pie*/
    footer {
        font-size: 1.5vw;
    }

    #NLT {
        font-size: 1vw;
    }

    /*boton abre carrito*/
    #abrirCarrito {
        top: 0.5vw;
        right: 2vw;
        font-size: 2.5vw;
    }

    /*boton cierra carrito*/
    #cerrarCarrito {
        width: 3vw;
        height: 3vw;
        margin: 1vw 0 0 1vw;
    }

    /*ventana carrito*/
    #carrito-flotante {
        top: 1vw;
        width: 96%;
        height: 95%;
        border: 2px;
        border-radius: 10px;
        padding: 10px;
    }

    /*titulo carrito*/
    #carrito-flotante h3 {
        font-size: 2vw;
    }

    .item-carrito {
        gap: 5vw;
    }

    #total-carrito {
        font-size: 1.8vw;
    }

    /*seleccionador debajo precio*/
    select {
        margin-top: 1vw;
    }

    /*debajo de selec color y talle*/
    .cantidad {
        width: 5vw;
        margin: 0;
    }

    /*boton agregar*/
    .agregar {
        margin: 1.2vw;
        padding: 1vw;
    }

    /*boton whatsapp carrito*/
    #whatsapp-btn {
        top: 2vw;
        right: 2vw;
        padding: 1.3vw;
    }

    /*contenedor de inventario*/
    #inventario_contenedor {
        font-size: 1.5vw;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    /*imagen de productos*/
    .inventario img {
        max-width: 100%;
    }

    /*nombre del producto*/
    .inventario h4 {
        margin: 0.5vw 0;
    }

    .stock-info {
        font-size: 1vw;
    }

    .item-carrito {
        border-bottom: 1px;
        padding-bottom: 1vw;
    }
}