* {
    font-family: cursive
}

/*conenedor de video comienzo*/
.video-container {
    position: absolute;
    left: 25%;
}

/*video intro*/
.video {
    width: 70%;
    height: 100%;
}

/*titulos y subtitulos*/
h1,
h2 {
    margin: 0;
    text-align: center;
    font-size: 3vw;
}

/*subtitulos*/
h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

/*texto*/
#nosotros {
    font-size: 2vw;
    margin: 0 1vw 1vw 1vw;
    text-align: center;
}

/*subtitulo texto*/
#nosotros h2 {
    font-size: 3vw;
}

/*logo*/
#cabecera {
    width: 20vw;
    height: 10vw;
    display: flex;
    justify-self: center;
}

/*navegacion*/
nav {
    position: fixed;
    left: -190vw;
    top: 0;
    height: 100%;
    width: 18vw;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.4s ease;
    z-index: 9;
}

/*boton de menu*/
.menu-btn {
    position: fixed;
    left: 3.1vw;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 1vw 1vw;
    font-size: 3vw;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

nav.active {
    left: 0;
}

/*imagen del nav*/
nav img {
    width: 18vw;
    height: 12vw;
    margin-bottom: 3vw;
}

/*texto nav*/
nav a,
footer a {
    color: black;
    text-decoration: none;
    font-size: 2vw;
}

/*lineas*/
hr {
    width: 100%;
    height: 0.1vw;
}

.contenedor-carruseles {
    display: flex;
    gap: 2vw;
}

.carrusel1,
.carrusel2,
.carrusel3,
.carrusel4 {
    position: relative;
    overflow: hidden;
    padding: 0 0 1vw 0;
}

.carrusel1,
.carrusel3 {
    margin-left: 0.5vw;
}

.carrusel3,
.carrusel4 {
    display: none;
}

.slides,
.slides1 {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
}

.slides1 {
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

#cuadro1 {
    display: flex;
    gap: 1vw;
}

#elementos_cuadro1 {
    width: 23vw;
    height: 50vw;
    margin: 0 0.4vw;
}

#boton1 {
    font-size: 3vw;
    border-style: solid;
    color: black;
    background-color: white;
    position: absolute;
    transform: translateX(-10%) translateY(5%);
    animation: subir 1.5s ease-out forwards;
    margin-top: 15%;
    margin-left: -57%;
}

#boton1:hover {
    color: black;
}

/*contenedor de inventario*/
#inventario_contenedor {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2.2vw;
}

/*cuadro de cada producto*/
.inventario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    border: solid 1px;
}

/*imagen de cada producto*/
.inventario img {
    width: 30vw;
    height: 100%;
    border-radius: 5%;
}

.etiqueta {
    margin-top: 1vw;
}

/*boton de agregar a carrito*/
.inventario input {
    width: 4vw;
    height: 4vw;
    margin: 1vw;
}

/*logos flotantes*/
.whatsapp-float,
.instagram-float {
    position: fixed;
    width: 5vw;
    height: 5vw;
    bottom: 2vw;
    right: 3.2vw;
    background-color: #25D366;
    color: white;
    border-radius: 50vw;
    text-align: center;
    font-size: 4vw;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.instagram-float {
    background-color: #E1306C;
    transition: transform 0.3s ease;
    bottom: 8vw;
}

.whatsapp-float:hover,
.instagram-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img,
.instagram-float img {
    width: 3vw;
    height: 3vw;
}

#boton {
    display: flex;
    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;
    border-style: double;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    padding: 1.5vw;
}

#boton:hover {
    color: white;
    background: linear-gradient(90deg, rgb(136, 136, 136) 0%, rgb(0, 0, 0) 50%, rgb(136, 136, 136) 100%);
}

/*pie*/
footer {
    color: black;
    justify-items: center;
    text-align: center;
    font-size: 2vw;
}

#copy {
    border-style: none;
    margin-bottom: 2px;
}

#NLT {
    font-size: 2vw;
}

/*boton abre carrito*/
#abrirCarrito {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 1.5vw;
    right: 3.2vw;
    border-radius: 10px;
    z-index: 90;
    font-size: 4vw;
}

/*boton cierra carrito*/
#cerrarCarrito {
    background: rgba(229, 229, 229, 0.8);
    width: 5vw;
    height: 5vw;
    margin: 1vw 0 0 1vw;
    border-radius: 40%;
}

#carrito-flotante {
    position: fixed;
    top: 1vw;
    width: 96%;
    height: 95%;
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 100;
}

#carrito-flotante h3 {
    position: relative;
    left: 23vw;
    font-size: 2.3vw;
    text-align: center;
}

#inventario_contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
}

.inventario {
    border: 1px solid #ccc;
    padding: 10px;
}

.inventario img {
    width: 100%;
}

.item-carrito {
    position: relative;
    top: 8vw;
    padding: 0.2vw 0;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#total-carrito {
    font-weight: bold;
    margin-top: 10px;
    font-size: 3vw;
}

select {
    margin-top: 5px;
    width: 100%;
}

.agregar {
    margin: 1vw;
    color: white;
    background-color: rgb(79, 79, 79);
    padding: 0.7vw;
    border-radius: 10px;
}

.borrar-item {
    font-size: 2vw;
    margin-left: 2vw;
    background: none;
    cursor: pointer;
}

/*boton whatsapp carrito*/
#whatsapp-btn {
    display: block;
    position: absolute;
    top: 2vw;
    right: 2vw;
    padding: 1.3vw;
    background: #25D366;
    color: white;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

/*botones*/
button {
    border-style: none;
    cursor: pointer;
}

button:hover {
    transition: 0.3s ease, color 0.3s ease;
    transform: scale(1.2);
}

.inventario {
    border: 1px solid #ddd;
    padding: 1vw;
    margin: 2vw;
    border-radius: 12px;
    max-width: 300px;
}

.inventario img {
    width: 100%;
    border-radius: 10px;
}

.stock-info {
    font-size: 1.8vw;
    color: #555;
}

select:disabled {
    background: #eee;
}

.item-carrito {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1vw;
}


.content,
.content2 {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 1vw;
    box-shadow: -2px 10px 10px black;
}

/*posicion mouse nav y pie*/
nav a:hover,
footer a:hover,
#NLT:hover,
#whatsapp-btn:hover {
    transition: 0.3s ease, color 0.3s ease;
    transform: scale(1.1);
}

/*pantallas grandes*/
@media (min-width:1600px) {
    .video-container {
        left: 35%;
    }

    .video {
        width: 60%;
        height: 100%;
    }

    h1,
    h2 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 1.7vw;
    }

    #nosotros {
        font-size: 2vw;
    }

    #nosotros h2 {
        font-size: 3vw;
    }

    #cabecera {
        width: 2vw;
    }

    nav a,
    footer a {
        font-size: 2vw;
    }

    .menu {
        padding: 0vw 7vw;
    }

    .contenedor-carruseles {
        gap: 2vw;
    }

    .carrusel1,
    .carrusel2,
    .carrusel3,
    .carrusel4 {
        display: block;
        position: relative;
        width: 30vw;
        height: 40vw;
        padding: 0 0 1vw 0;
    }

    .carrusel1 {
        margin-left: 0.5vw;
    }

    .carrusel3 {
        margin-left: 0;
    }

    .carrusel4 {
        margin-right: 0.2vw;
    }

    .slide {
        width: 100%;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    #boton1 {
        margin-top: -35%;
        margin-left: 44%;
        font-size: 2vw;
    }

    .etiqueta {
        font-size: 2.5vw;
    }

    .whatsapp-float,
    .instagram-float {
        width: 5vw;
        height: 5vw;
        bottom: 2.5vw;
        right: 4vw;
        font-size: 3vw;
    }

    .instagram-float {
        right: 10vw;
    }

    .whatsapp-float:hover,
    .instagram-float:hover {
        transform: scale(1.1);
    }

    .whatsapp-float img,
    .instagram-float img {
        width: 3.5vw;
        height: 3.5vw;
    }

    footer {
        font-size: 3vw;
    }

    #copy {
        font-size: 2vw;
    }

    #carrito-flotante {
        bottom: 8vw;
        right: 1.5vw;
        width: 15vw;
    }

    #carrito-flotante h3 {
        margin: 1vw 0;
        font-size: 1.5vw;
    }

    .item-carrito {
        padding: 0.1vw 0;
        font-size: 1.5vw;
    }

    #whatsapp-btn {
        margin: 0 1.5vw;
        padding: 1.3vw;
    }
}

/*pantallas chicas*/
@media (max-width:900px) {
    .video-container {
        left: 15%;
    }

    .video {
        width: 80%;
        height: 100%;
    }

    h1,
    h2 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    #nosotros {
        font-size: 3.5vw;
    }

    #nosotros h2 {
        font-size: 4vw;
    }

    #cabecera {
        width: 30vw;
    }

    nav a,
    footer a {
        font-size: 4vw;
    }

    .menu {
        padding: 0vw 7.5vw;
    }

    #boton1 {
        margin-top: -35%;
        margin-left: 41%;
    }

    .etiqueta {
        font-size: 3.5vw;
    }

    #inventario_contenedor {
        gap: 2vw
    }

    .inventario img {
        width: 45vw;
        height: 100%;
    }

    .whatsapp-float,
    .instagram-float {
        width: 8vw;
        height: 8vw;
        bottom: 4vw;
        right: 4vw;
        font-size: 5vw;
    }

    .instagram-float {
        right: 15vw;
    }

    .whatsapp-float:hover,
    .instagram-float:hover {
        transform: scale(1.1);
    }

    .whatsapp-float img,
    .instagram-float img {
        width: 5vw;
        height: 5vw;
    }

    footer {
        font-size: 3vw;
    }

    #abrirCarrito {
        font-size: 4vw;
    }

    #cerrarCarrito {
        width: 7vw;
        height: 7vw;
        margin: 2vw 0 0 1vw;
    }

    #carrito-flotante h3 {
        left: 18vw;
        font-size: 4vw;
    }

    .item-carrito {
        position: relative;
        top: 8vw;
        border-bottom: 0.5vw solid #eee;
        padding: 0.2vw 0;
        font-size: 2vw;
    }

    #whatsapp-btn {
        top: 5vw;
        right: 2.5vw;
        font-size: 3vw;
    }
}